.divStyle{
  width: 200px;
  height: 200px;
}

.divToggleBlue{
  width: 200px;
  height: 200px;
  background-color: blue;
}

.divToggleGreen{
  width: 200px;
  height: 200px;
  background-color: green;
}

